body {
    margin:0px;
    padding:0px;
}
.top-nav {
    background-color: #fff;
    -webkit-box-shadow:0 0 5px #888;
    height:56px;
}
.top-logo {
    padding-left: 68px;
}
.top-input {
    padding-top: 10px;
}
.select-input {
    color: #53545e;
}